@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container: 220 20% 97%;
  --surface: 0 0% 100%;
  --surface-on: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-on: 0 0% 98%;
  --accent: 240 4.8% 95.9%;
  --accent-on: 240 5.9% 10%;
  --success: 142.1 76.2% 36.3%;
  --success-on: 355.7 100% 97.3%;
  --danger: 346.8 77.2% 49.8%;
  --danger-on: 355.7 100% 97.3%;
  --muted: 240 9.8% 60%;
  --border: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
}

.dark {
  --container: 225 10% 16%;
  --surface: 240 10% 3.9%;
  --surface-on: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-on: 240 5.9% 10%;
  --accent: 240 3.7% 15.9%;
  --accent-on: 0 0% 98%;
  --success: 142.1 70.6% 45.3%;
  --success-on: 144.9 80.4% 10%;
  --danger: 346.8 77.2% 49.8%;
  --danger-on: 355.7 100% 97.3%;
  --muted: 240 5% 61.9%;
  --border: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center py-1 rounded-md text-sm font-medium text-primary-on bg-primary hover:bg-primary/90 transition-colors focus-visible:outline-none disabled:opacity-50 disabled:pointer-events-none;
  }

  .btn-danger {
    @apply inline-flex items-center justify-center py-1 rounded-md text-sm font-medium text-danger-on bg-danger hover:bg-danger/90 transition-colors focus-visible:outline-none disabled:opacity-50 disabled:pointer-events-none;
  }

  .btn-outline {
    @apply inline-flex items-center justify-center py-1 rounded-md text-sm font-medium text-accent-on hover:bg-accent transition-colors border border-border focus-visible:outline-none disabled:opacity-50 disabled:pointer-events-none;
  }

  .btn-ghost {
    @apply inline-flex items-center justify-center py-1 rounded-md text-sm font-medium text-accent-on hover:bg-accent transition-colors focus-visible:outline-none disabled:opacity-50 disabled:pointer-events-none;
  }

  .btn-select {
    @apply inline-flex items-center justify-between py-1 rounded-md text-sm bg-transparent shadow-sm transition-colors border border-border focus-visible:outline-none focus:ring-1 focus:ring-ring disabled:opacity-50 disabled:pointer-events-none;
  }

  .input {
    @apply py-1 rounded-md text-sm placeholder:text-muted bg-transparent shadow-sm border border-border transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:opacity-50 disabled:cursor-not-allowed;
  }
}

@layer utilities {
  .scrollbar-container {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 5px;
    margin-right: 2px;
  }

  .scrollbar {
    overflow-y: scroll;
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 6px;
  }

  .scrollbar:hover::-webkit-scrollbar-thumb {
    background: hsl(var(--muted));
  }
}
